
#head-wrap {
    position: relative;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    clip-path: inset(0 0 0 0);
}
#custom-head {
    position: fixed;
    width: 100%;
    height: 100%;
}
#site-head {
  position: absolute;
  top:0px;
}
